.courseAssessmentWorksheetContainer {
  display: flex;
  flex-direction: column;
}

.courseInfoAndChangesFlexboxRootContainer {
  display: flex;
  flex-direction: row;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.semesterReviewTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}

.semesterReviewTitleText {
  font-weight: bolder;
  min-width: 500px;
}

.paddedLabel {
  width: 155px;
}

.input {
  width: 725px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.inputCheckmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: 50px;
}

.title {
  font-weight: bolder;
}

.gradesContainer {
  display: flex;
  flex-direction: row;
}

.gradeContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.gradeLetter {
  border-bottom: 3px solid #000;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
  background-color: #831917;
  color: #eee;
}

.gradeCount {
  padding: 5px 50px 10px 50px;
}

.semesterReviewsContainer {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #000;
}

.semesterReviewContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

.semesterReviewHeader {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 85px;
  border-right: 3px solid #000;
}

.midSemesterReviewHeaderTextArea {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 280px;
  border-right: 3px solid #000;
}

.midSemesterReviewHeaderTextAreaNoBorder {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 280px;
}

.endSemesterReviewHeader {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 85px;
  border-right: 3px solid #000;
}

.endSemesterReviewHeaderTextArea {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 229px;
  border-right: 3px solid #000;
}

.endSemesterReviewHeaderTextAreaNoBorder {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #831917;
  color: #eee;
  width: 229px;
}

.midSemesterReviewTextArea {
  width: 280px;
  overflow-wrap: break-word;
  border-right: 3px solid #000;
}

.midSemesterReviewTextAreaNoBorder {
  width: 280px;
  overflow-wrap: break-word;
}

.endSemesterReviewTextArea {
  width: 229px;
  overflow-wrap: break-word;
  border-right: 3px solid #000;
}

.endSemesterReviewTextAreaNoBorder {
  width: 229px;
  overflow-wrap: break-word;
}

.semesterReviewSelector {
  width: 85px;
  overflow-wrap: break-word;
  border-right: 3px solid #000;
}

.marginBottom {
  margin-bottom: 50px;
}

.saveButton{
  margin: 10px;
}

.spanSpacer {
  margin-right: 10px;
}