.paddedLabel {
    width: 156px;
}

.inputCheckmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 30px;
    margin-right: 50px;
}

.learningIssuesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learningIssuesItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexboxRootContainer {
    display: flex;
    flex-direction: row;
}

.spanSpacer {
    margin-right: 10px;
}