<nav class="navbar navbar-dark bg-company-red">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Course Assessment Form</a>
      <a class="nav-item nav-link" href="#">Individual Learning Record</a>
      <a class="nav-item nav-link" href="#">Admin</a>
      <a class="nav-item nav-link" href="#">Archive</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://twitter.com/larochecollege" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://laroche.edu/" target="_blank">
        <i class="fa fa-graduation-cap"></i>
      </a>
    </div>
  </div>
</nav>