.individualLearningRecordContainer {
  display: flex;
  flex-direction: column;
}

.individualLearningRecordFlexboxRootContainer {
  display: flex;
  flex-direction: row;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.semesterReviewTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}

.semesterReviewTitleText {
  font-weight: bolder;
  min-width: 500px;
}

.paddedLabel {
  width: 155px;
}

.input {
  width: 725px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.inputCheckmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: 50px;
}

.title {
  font-weight: bolder;
}

.searchTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marginBottom {
  margin-bottom: 50px;
}

.saveButton {
  margin: 10px;
}

.spanSpacer {
  margin-right: 10px;
}

.dropDownMarginTop {
  margin-top: 10px;
}

.tableWordWrap {
  overflow-wrap: break-word;
}