.paddedLabel {
    width: 156px;
}

.inputCheckmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 30px;
    margin-right: 50px;
}

.studentId{
    max-width: 7ch;
}

.learningIssuesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learningIssuesItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}