<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add/Edit Mid-Semester Review
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="searchTitle">
          <span class="title">Enter student email address:</span>
          <span class="spanSpacer"></span>
          <button class="btn btn-lg btn-info" (click)="loadStudent()" [disabled]="!validEmail">Find Student</button>
        </div>
        <input placeholder="Enter valid email and click Find Student" type="email" name="studentEmail" class="form-control info"
          [(ngModel)]="studentEmail" (ngModelChange)="onEmailChange($event)">
      </div>
      <div class="form-group">
        <label for="studentName">Student Name</label><br>
        <input class="form-control" name="studentName" [(ngModel)]="endSemesterReview.student.studentName" readonly>
      </div>
      <div class="form-group">
        <form [formGroup]="gradeForm">
          <label for="studentGrade">Select Grade: </label>
          <select formControlName="gradeControl" (change)="setGrade($event.target.value)">
            <option [value]="grade" *ngFor="let grade of grades"> {{grade}}</option>
          </select>
        </form>
      </div>
      <div class="learningIssuesContainer">
        <div class="form-group">
          <div class="learningIssuesItem">
            <label class="paddedLabel">#1 Course Pace</label>
            <input class="inputCheckmark" #coursePaceCheckBox id="coursePaceCheckBox" type="checkbox" (change)="coursePaceChecked(coursePaceCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.coursePace" name="coursePace" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#2 Poor Background</label>
            <input class="inputCheckmark" #poorBackgroundCheckBox id="poorBackgroundCheckBox" type="checkbox" (change)="poorBackgroundChecked(poorBackgroundCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.poorBackground" name="poorBackground" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#3 Mindset</label>
            <input class="inputCheckmark" #lackOfMindsetCheckBox id="lackOfMindsetCheckBox" type="checkbox" (change)="lackOfMindsetChecked(lackOfMindsetCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.lackOfMindset" name="lackOfMindset" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#4 Interest/Curiosity</label>
            <input class="inputCheckmark" #lackOfCuriosityCheckBox id="lackOfCuriosityCheckBox" type="checkbox"
              (change)="lackOfCuriosityChecked(lackOfCuriosityCheckBox.checked)" [(ngModel)]="endSemesterReview.semesterLearningIssues.lackOfCuriosity"
              name="lackOfCuriosity" ng-true-value="'true'" ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#5 Effort/Focus</label>
            <input class="inputCheckmark" #lackOfEffortOrFocusCheckBox id="lackOfEffortOrFocusCheckBox" type="checkbox"
              (change)="lackOfEffortOrFocusChecked(lackOfEffortOrFocusCheckBox.checked)" [(ngModel)]="endSemesterReview.semesterLearningIssues.lackOfEffortOrFocus"
              name="lackOfEffortOrFocus" ng-true-value="'true'" ng-false-value="'false'">
          </div>
        </div>
        <div class="form-group">
          <div class="learningIssuesItem">
            <label class="paddedLabel">#6 Time Management</label>
            <input class="inputCheckmark" #poorTimeManagementCheckBox id="poorTimeManagementCheckBox" type="checkbox"
              (change)="poorTimeManagementChecked(poorTimeManagementCheckBox.checked)" [(ngModel)]="endSemesterReview.semesterLearningIssues.poorTimeManagement"
              name="poorTimeManagement" ng-true-value="'true'" ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#7 Health Issues</label>
            <input class="inputCheckmark" #healthIssuesCheckBox id="healthIssuesCheckBox" type="checkbox" (change)="healthIssuesChecked(healthIssuesCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.healthIssues" name="healthIssues" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#8 Complacence</label>
            <input class="inputCheckmark" #complacenceCheckBox id="complacenceCheckBox" type="checkbox" (change)="complacenceChecked(complacenceCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.complacence" name="complacence" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#9 Employment hours</label>
            <input class="inputCheckmark" #employmentHoursCheckBox id="employmentHoursCheckBox" type="checkbox"
              (change)="employmentHoursChecked(employmentHoursCheckBox.checked)" [(ngModel)]="endSemesterReview.semesterLearningIssues.employmentHours"
              name="employmentHours" ng-true-value="'true'" ng-false-value="'false'">
          </div>
          <div class="learningIssuesItem">
            <label class="paddedLabel">#10 Other</label>
            <input class="inputCheckmark" #otherCheckBox id="otherCheckBox" type="checkbox" (change)="otherChecked(otherCheckBox.checked)"
              [(ngModel)]="endSemesterReview.semesterLearningIssues.other" name="other" ng-true-value="'true'"
              ng-false-value="'false'">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="semesterInstructorInteractions">Extent of instructor interactions</label><br>
        <textarea class="form-control" name="semesterInstructorInteractions" [(ngModel)]="endSemesterReview.semesterInstructorInteractions"
          rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="semesterInstructorNotes">Instructor recommendations</label><br>
        <textarea class="form-control" name="semesterInstructorNotes" [(ngModel)]="endSemesterReview.semesterInstructorNotes"
          rows="4"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-dark" (click)="open(content)">Add/Edit End-Semester Review</button>
<!-- 
<hr>

<pre>{{closeResult}}</pre> -->